* {
  background-color: hsl(216, 12%, 8%);
  font-family: 'Overpass', sans-serif;
}

body {
  display: flex;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: hsl(213, 19%, 18%);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px 25px;
  width: 20rem;
  height: 23rem;
}

img {
  background-color: hsl(218, 17%, 22%);
  padding: 15px;
  border-radius: 50%;
}

.title {
  color: hsl(0, 0%, 100%);
  background-color: hsl(213, 19%, 18%);
  font-size: 25px;
  padding-top: 15px;
  margin: 10px 0;
}

.text {
  font-size: 15px;
  line-height: 20px;
  margin: 0;
  color: hsl(216, 12%, 54%);
  background-color: hsl(213, 19%, 18%);
  font-weight: 400;
  padding-bottom: 15px;
}

.ratings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(213, 19%, 18%);
  width: 100%;
  padding: 0;
}

.star {
  padding: 10px;
  color: hsl(216, 12%, 54%);
  text-decoration: none;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(218, 17%, 22%);
  border: none;
  cursor: pointer;
}

.button {
  color: hsl(0, 0%, 100%);
  background-color: hsl(25, 97%, 53%);
  text-align: center;
  border-radius: 20px;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 15px;
}
.star:hover {
  background-color: hsl(216, 12%, 54%);
  color: hsl(0, 0%, 100%);
}

.button:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(25, 97%, 53%);
}

.image {
  background-color: hsl(213, 19%, 18%);
}

.rating-click {
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
}
